//variables
$black:#2B2B2C;
$white:#FFFFFF;
$color1:#1078AD;
$color2:#F4CF1B;
$color3:#7F7F7F;
$color4:#D0E5F0;
$color5:#369D53;

#rect1 {

    text-align: center;
    background-color: $color2;

    bottom: 10px;
    width: 100%;
    height: 18vh;
    margin-top: -8px;
    font-weight: bold;

    h4 {
        padding-top: 2%;
    }
    p {

   color: $color1;

}


}

p {

    margin: 0;

}

.rect2 {
    display: flex;
    flex-direction: row;

    &__right {
        width: 50%;

        img {
            width: 100%;
        }
    }

    &__left {
        width: 50%;

        h1 {
            color: $color1;
            text-align: center;
            padding: .5rem 4.5rem;
        }

        img {
            margin-left: 45%;
        }

        p {
            text-align: center;
            font-size: xx-large;
            font-weight: bold;
            color: $color3;
            padding: 1rem;
        }

        button {
            margin-left: 10%;
            margin-top: 10%;
            padding: 1rem 18%;
            background-color: $color1;

            font-size: 1.3rem;
            font-weight: bold;
            
            border: none;
            border-radius: 5px;
            color: $white;
            width: 80%;

        }
    }
}

.rect3 {
    width: 40%;
    margin: 0 auto;

    text-align: center;

    &__photo1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &__nausées {
            h2 {
               bottom: 20%;
            }
        }
    }

    &__photo2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &__toux{
            h2{
                margin-top: 20%;
            }
        }
    }
}
.rect3n{
    text-align: center;
    &__photo1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60%;
        margin: 0 auto;
        &--imgC{
            height: 100%;
            img{
                width: 60%; 
                // height: 30%;           
            }
            // h2{
            //     margin-top: 20px;
            // }
        }
    }
   
    
}


@media only screen and (max-width: 500px) {
    .p1 {
        margin-top: 20px;
    }
}