header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    
    .bg1{
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -10;
        margin-bottom: 20%;
    }
    img{
        margin-left:    55%;
    }
   
    
    nav{
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        margin-left:    55%;
        button{
            background-color: transparent;
            border: 2px solid #1078AD;
            border-radius: 10px;
            padding: .3rem .8rem;
            display: flex;
            font-size: 1rem;
            transition-duration: 0.3s;

            &:hover {
                opacity: .5;
                box-shadow: 0px 2px $black;
            }
            img{
                margin-top: 12%;
                margin-left: 7%;
            }
        }
        ul{
            width: 60%;
            display: flex;
            justify-content: space-around;
            list-style: none;
            li{
                a{
                    font-size: 1.4rem;
                    text-decoration: none;
                    color: $black;
                    font-weight: bold;
                    transition-duration: 0.3s;
                    &:hover{
                        color: $color1;
                    }
                }
            }
        }
    }
}