//variables
$black:#2B2B2C;
$white:#FFFFFF;
$color1:#1078AD;
$color2:#F4CF1B;
$color3:#7F7F7F;
$color4:#D0E5F0;
$color5:#369D53;
#rect1{
    text-align: center;
    background-color: $color2;
   
}
p{
   
        margin: 0 ;
   
}
.rect2{
    display: flex;
    flex-direction: row;
    &__right{
        position: relative;
    }
}

.rect3{
    
    margin: 0 0 0 40%;
    &__photo1{
        display: flex;
        flex-direction: row;
    }
    &__photo2{
        display: flex;
        flex-direction: row;
    }
}
@media only screen and (max-width: 500px) {
    .p1{
        margin-top: 20px;
    }
}