//variables
$black:#2B2B2C;
$white:#FFFFFF;
$color1:#1078AD;
$color2:#F4CF1B;
$color3:#7F7F7F;
$color4:#D0E5F0;
$color5:#369D53;

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    nav{
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            background-color: transparent;
        }
        ul{
            width: 60%;
            display: flex;
            justify-content: space-around;
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color: $black;
                    font-weight: bold;
                }
            }
        }
    }
}